{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}👶 Sistema Obstétrico Bebé{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

{% if request.path != "/login/" and request.path != "/registrar/" %}
<nav class="nav">
    <ul>

        <!-- Inicio (todos los roles) -->
        <li><a href="/">🏠 Inicio</a></li>

        <!-- MATRÓNA -->
        {% if request.session.rol == "matrona" %}
            <li><a href="/madres/">🧑‍🍼 Madres</a></li>
            <li><a href="/partos/">🔗 Partos</a></li>
            <li><a href="/rn/">🍼 Recién Nacidos</a></li>
        {% endif %}

        <!-- MÉDICO -->
        {% if request.session.rol == "medico" %}
            <li><a href="/partos/">📝 Ver Partos</a></li>
            <li><a href="/rn/">🧒 Ver RN</a></li>
        {% endif %}

        <!-- JEFE DE ÁREA -->
        {% if request.session.rol == "jefe_area" %}
            <li><a href="/dashboard/">📊 Dashboard</a></li>
            <li><a href="/reportes/">📈 Reportes</a></li>
            <li><a href="/madres/">🧑‍🍼 Madres</a></li>
            <li><a href="/partos/">🔗 Partos</a></li>
        {% endif %}

        <!-- ADMIN -->
        {% if request.session.rol == "admin" %}
            <li><a href="/dashboard/">📊 Dashboard</a></li>
            <li><a href="/usuarios/">👤 Usuarios</a></li>
            <li><a href="/madres/">🧑‍🍼 Madres</a></li>
            <li><a href="/partos/">🔗 Partos</a></li>
            <li><a href="/rn/">🍼 RN</a></li>
        {% endif %}

        <!-- Salir -->
        <li><a href="/login/">🚪 Salir</a></li>

    </ul>
</nav>
{% endif %}


<main class="content">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
