<nav class="nav">
    <ul>
        <li><a href="/">🏠 Inicio</a></li>

        <li><a href="/madres/">🤰 Madres</a></li>
        <li><a href="/partos/">🔗 Partos</a></li>
        <li><a href="/rn/">🍼 Recién Nacidos</a></li>

        
        

        <li><a href="/descargar-rem22/">📄 Informe</a></li>

        <li><a href="/login/">🚪 Salir</a></li>

          <li>
            <button id="darkToggle" style="
                padding: 8px 14px;
                border-radius: 10px;
                background: #ffe3f2;
                border: none;
                cursor: pointer;
                font-weight: bold;">
                🌙 Dark Mode
            </button>
        </li>
    </ul>
</nav>

